<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {page: 'Seller Reviews'}) %>

<body class="has-navbar-fixed-top has-background-grey-darker">

    <%- include ('../partials/nav.ejs') %>

    <section class="hero has-background-primary-dark has-text-centered">
        <div class="hero-body">
            <h2 class="title is-2 has-text-light">Local Seller Reviews</h2>
        </div>
    </section>
    <main class="container">
        <div class="columns is-multiline is-centered">
            
            <% for (let i = 0; i < reviews.length; i++) { %>
                <% let review = reviews[i]; %>
                <div class="column is-two-thirds">
                    <article class="card review-card has-background-grey-dark">
                        <div class="card-content">
                            <div class="content"><div> 
                                <h3 class="has-text-light">Review Title: &nbsp;<%= review.title %></h3>
                                <p class="has-text-light">Rating: &nbsp;<%= review.rating %> ⭐️ </p>
                                <p class="has-text-light">Comments: &nbsp;"<%= review.content %>"</p>
                                <p class="has-text-light">Reviewed Seller: &nbsp;<%= review.reviewedSellerUser %></p>
                                <p class="has-text-light">Reviewing Buyer: &nbsp;<%= review.reviewingBuyerUser %></p>
                            </div>
                        </div>
                    </article>
                </div>
            <% } %>
        </div>
    </main>
</body>
</html>