<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {page: 'Seller Reviews'}) %>

<body class="has-navbar-fixed-top has-background-grey-darker">

    <%- include ('../partials/nav.ejs') %>

    <section class="hero has-background-primary-dark has-text-centered">
        <div class="hero-body">
            <h2 class="title is-2 has-text-light">Local Seller Reviews</h2>
        </div>
    </section>
    <main class="container has-text-centered extra-padding-bottom">
        <div class="columns is-multiline is-centered">
            
            <% for (let i = 0; i < reviews.length; i++) { %>
                <% let review = reviews[i]; %>
                <div class="column is-three-quarters">
                    <article class="card has-background-grey-dark">
                        <div class="level">
                            <div class="level-left">
                                <div class="card-content">
                                    <div class="content"><div> 
                                        <h3 class="has-text-light">Review Title: &nbsp;<%= review.title %></h3>
                                            <p class="has-text-light">Rating: &nbsp;<%= review.rating %>⭐️ 
                                                <p class="has-text-light">Content: &nbsp;<%= review.content %>
                                                    <p class="has-text-light">ReviewedSellerUser: &nbsp;<%= review.reviewedSellerUser %>
                                                        <p class="has-text-light">ReviewingBuyerUser: &nbsp;<%= review.reviewingBuyerUser %></p>
                                                    </p>
                                                </p>
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            <% } %>
        </div>
    </main>
</body>
</html>