<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {page: 'Seller Reviews'}) %>

<body class="has-navbar-fixed-top has-background-grey-darker">

    <%- include ('../partials/nav.ejs') %>

    <section class="hero has-background-primary-dark has-text-centered">
        <div class="hero-body">
            <h2 class="title is-2 has-text-light">Local Seller Reviews</h2>
        </div>
    </section>
    <main class="container">
        <div class="columns is-multiline is-centered">
            <% for (let i = 0; i < reviews.length; i++) { %>
                <% let review = reviews[i]; %>
                <div class="column is-two-thirds">
                    <article class="card review-card has-background-grey-dark">
                        <div class="card-content">
                            <div class="content"><div> 
                                <h2 class="has-text-light">Review Title: &nbsp;<%= review.title %></h2>
                                <h4 class="has-text-light">Rating: &nbsp;<%= review.rating %> ⭐️ </h4>
                                <h6 class="has-text-light">Comments: &nbsp;"<%= review.content %>"</h6>
                                <h6 class="has-text-light">
                                    Reviewed Seller: &nbsp;
                                    <a href="/users/<%= review.reviewedSellerUser._id %>" class="light-link-text">
                                        <%= review.reviewedSellerUser.firstName %> 
                                        <%= review.reviewedSellerUser.lastName %>&nbsp;
                                        (<%= review.reviewedSellerUser.averageRating %> ⭐️ )
                                    </a>
                                </h6>
                                <div class="field form-buttons is-grouped">
                                    <div class="control review-index-control">
                                        <a class="button is-info has-background-info-dark" href="/reviews/<%= review._id %>">Show Full Review</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            <% } %>
            <div class="column is-two-thirds">
                <div class="field is-grouped is-grouped-centered">
                    <div class="control form-buttons">
                        <a class="button is-primary has-background-primary-dark" href="/reviews/new">Add A New Seller Review</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>