<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {page: 'Seller Review'}) %>

<body class="has-navbar-fixed-top has-background-grey-darker">

    <%- include ('../partials/nav.ejs') %>

    <section class="hero has-background-primary-dark has-text-centered">
        <div class="hero-body">
            <h2 class="title is-2 has-text-light">Seller Review</h2>
        </div>
    </section>
    <main class="container extra-padding-bottom">
        <div class="columns is-multiline is-centered">
            <div class="column is-two-thirds">
                <article class="card review-card has-background-grey-dark">
                    <div class="card-content">
                        <div class="content"><div> 
                            <h1 class="has-text-light">"<%= review.title %>"</h1>
                            <h2 class="has-text-light">Rating: &nbsp;<%= review.rating %> ⭐️ </h2>
                            <h4 class="has-text-light">Comments: &nbsp;"<%= review.content %>"</h4>
                            <h4 class="has-text-light">
                                Reviewed Seller: &nbsp;
                                <a href="/users/<%= review.reviewedSellerUser._id %>" class="light-link-text">
                                    <%= review.reviewedSellerUser.firstName %> 
                                    <%= review.reviewedSellerUser.lastName %>&nbsp;
                                    (<%= review.reviewedSellerUser.averageRating %> ⭐️ )
                                </a>
                            </h4>
                        </div>
                    </div>
                </article>
                <br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </main>
</body>
</html>