<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {page: 'Products for Sale'}) %>

<body class="has-navbar-fixed-top has-background-grey-darker">

    <%- include ('../partials/nav.ejs') %>

    <section class="hero has-background-primary-dark has-text-centered">
        <div class="hero-body">
            <h2 class="title is-2 has-text-light">Products For Sale Locally</h2>
        </div>
    </section>
    <main class="container">
        <div class="columns is-multiline is-centered">
            <% for (let i = 0; i < products.length; i++) { %>
                <% let product = products[i]; %>
                <div class="column is-three-quarters">
                    <article class="card has-background-grey-dark">
                        <div class="level">
                            <div class="level-left">
                                <div class="card-image">
                                    <figure class="image img-card-figure media-left">
                                        <a href="/products/<%= product._id %>">
                                            <img src="<%= product.image %>" class="product-list-img" alt="Photo of <%= product.name %>">
                                        </a>
                                    </figure>
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <a class="button is-info has-background-info-dark" href="/products/<%= product._id %>">Show Product Info</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h2>
                                            <a href="/products/<%= product._id %>" class="light-link-text">
                                                <%= product.name %>
                                            </a>
                                        </h2>
                                        <h5 class="has-text-light">Price: &nbsp;$<%= product.price %></h5>
                                        <h5 class="has-text-light">Category: &nbsp;<%= product.category %></h5>
                                        <h5 class="has-text-light">Description: &nbsp;"<%= product.description %>"</h5>
                                        <h5 class="has-text-light">Location: &nbsp;<%= product.sellerUser.location %></h5>
                                        <h5 class="has-text-light">
                                            Seller: &nbsp;
                                            <a href="/users/<%= product.sellerUser._id %>" class="light-link-text">
                                                <%= product.sellerUser.firstName %> 
                                                <%= product.sellerUser.lastName %> &nbsp; 
                                                (<%= product.sellerUser.averageRating %> ⭐️)
                                            </a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            <% } %>
            <div class="column is-three-quarters">
                <div class="field is-grouped is-grouped-centered">
                    <div class="control form-buttons">
                        <a class="button is-primary has-background-primary-dark" href="/products/new">Add something you want to sell!</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>