<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {page: 'Product For Sale'}) %>

<body class="has-navbar-fixed-top has-background-grey-darker">

    <%- include ('../partials/nav.ejs') %>

    <section class="hero has-background-primary-dark has-text-centered">
        <div class="hero-body">
            <h2 class="title is-2 has-text-light">Product for Sale</h2>
        </div>
    </section>
    <main class="container extra-padding-bottom">
        <div class="columns is-multiline is-centered">
            <div class="column is-three-quarters">
                <article class="card has-background-grey-dark">
                    <div class="level">
                        <div class="level-left">
                            <div class="card-image">
                                <figure class="image img-card-figure media-left">
                                    <img src="<%= product.image %>" class="product-show-img" alt="Photo of <%= product.name %>">
                                </figure>
                                <div class="field is-grouped is-grouped-centered">
                                    <div class="control">
                                        <a class="button is-primary has-background-primary-dark" href="/products/<%= product._id %>/edit">Update Product Info</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h2 class="has-text-light"><%= product.name %></a>
                                    <h5 class="has-text-light">Price: &nbsp;$<%= product.price %></h5>
                                    <h5 class="has-text-light">Category: &nbsp;<%= product.category %></h5>
                                    <h5 class="has-text-light">Description: &nbsp;"<%= product.description %>"</h5>
                                    <h5 class="has-text-light">Location: &nbsp;<%= product.sellerUser.location %></h5>
                                    <h5 class="has-text-light">
                                        Seller: &nbsp;
                                        <a href="/users/<%= product.sellerUser._id %>" class="light-link-text">
                                            <%= product.sellerUser.firstName %> 
                                            <%= product.sellerUser.lastName %> &nbsp; 
                                            (<%= product.sellerUser.averageRating %> ⭐️)
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </main>
</body>
</html>